{% extends "AppBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block Block %}


    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <section id="login" class="container secondary-page">
        <div class="general general-results players">
            <div class="top-score-title right-score col-md-6">
                <h3>Welcome<span class="point-int"> !</span></h3>
                <div class="{{ asset('col-md-12 login-page login-w-page') }}">
                    <p class="logiin-w-title">The Tennis Club Tour is proud to present the Fan Credential, ATP’s free membership program for fans of Men’s Professional Tennis.</p>
                    <p>With 61 exciting venues in 30 countries, we understand how busy life can get, so tell us your preferences and we’ll create an
                        experience specifically designed for you.
                    </p>
                    <h3><img class="ball-tennis" src={{ asset ("images/ball.png") }} alt=""/>ATP World Tour Insider</h3>
                    <p>Get off-court and go behind the scenes of the tour each week.</p>
                    <h3><img class="ball-tennis" src={{ asset ("images/ball.png") }} alt=""/>ATP World Tour Weekly</h3>
                    <p>Official report and schedule including results</p>
                </div>
            </div><!--Close welcome-->
            <!-- LOGIN BOX -->
            <div class="top-score-title right-score col-md-6">
                <h3>Login<span> Now</span><span class="point-int"> !</span></h3>
                <div class="col-md-12 login-page">
                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <form action="{{ path("fos_user_security_check") }}" method="post" class="login-form">
                        {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        {% endif %}

                        <div class="name">
                        <label for="username:">{{ 'Username'|trans }}</label><div class="clear"></div>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Username" />
                        </div>

                        <div class="name">
                        <label for="password:">{{ 'Password'|trans }}</label><div class="clear"></div>
                        <input type="password" id="password" name="_password" required="required" placeholder="***********" />
                        </div>

                        <div class="name">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">{{ 'Remember_me'|trans }}</label><div class="clear"></div>
                        </div>
                        <br>
                        <div class="name">
                        <input type="submit" id="_submit" name="_submit" value="{{ 'Se Connecter'|trans }}" />
                        </div>

                        <div class="box-login">

                            <a href='{{ path('fos_user_profile_show') }}'>hfhff</a>

                        </div>

                    </form>
                </div>

            </div><!--Close Login-->

        </div>
    </section>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

{% endblock Block %}